<div id="editormenu">
  <div class="title-row fl-c">
    <h4>Editor Menu</h4>
  </div>
  <div class="editor-content">
    <div class="fl-cl">
      <h4 class="info-text">Type: {{ selected.node.type.toUpperCase() }}</h4>
      <h4 class="info-text">Id: {{ selected.node.id }}</h4>
    </div>
    <div class="input-group fl-c fd-col m-m-t m-m-b">
      <h4 class="full-w txt-al-l m-s-t m-m-l">Label:</h4>
      <input type="text" v-model="selected.node.label"/>
    </div>
    <div class="input-group fl-c fd-col m-m-b">
      <h4 class="full-w txt-al-l m-s-t m-m-l">Action:</h4>
      <input type="text" v-model="selected.node.action"/>
    </div>
    <div class="input-group fl-c fd-col m-m-b" v-if="selected.node">
      <h4 class="full-w txt-al-l m-s-t m-m-l">Value:</h4>
      <input type="text" v-model="selected.node.value"/>
    </div>
    <div class="input-group fl-c fd-col m-m-b" v-if="selected.node">
      <h4 class="full-w txt-al-l m-s-t m-m-l">Note:</h4>
      <textarea type="text" v-model="selected.node.note"></textarea>
    </div>

    <!--<div class="row-list brdr-xs-t">
      <div @click.stop="handleMakeInitial" class="button full-w fl-c">
        <h4 class="full-w">Make initial</h4>
      </div>
    </div>-->
  </div>
  <div class="bottom-row brdr-xs-t fl-c">
    <h4 class="btm-txt">Nothing here for now</h4>
  </div>
</div>