::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}
::-webkit-scrollbar-thumb {
  background-color: #d8e7e3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5895a0;
}

:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

#app {
  --fr-size: 40px;
  --gap: 7px;
  /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; */
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#app.drawing :is(#interface, #nodemenu, .step-node, .node-path:not(.active)) {
  pointer-events: none;
}

html, body {
  position: relative;
  height: 100%;
  width: 100%;
}

#app,
#viewport {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

#viewport {
  --perspective: 400px;
  perspective: var(--perspective);
  perspective-origin: center;
  /* overflow: scroll; */
  overflow: hidden;
  /* padding-left: 50%; */
  /* padding-top: 50%; */
}

#canvas {
  --size-mod: 2;
  --rel-size: calc(100% * var(--size-mod));
  position: absolute;
  top: calc(var(--rel-size)/4 * -1); left: calc(var(--rel-size)/4 * -1);
  height: var(--rel-size);
  width: var(--rel-size);
  transform-style: preserve-3d;
  transition: transform .2s ease-out;
  background: url("/src/assets/vector/bggrid.svg") repeat center;
  background-size: 20px;
  /* temp */
  outline: 2px solid black;
}

h1, div {
  font-size: 3rem;
  transition: font-size 1s ease; 
  will-change: font-size; 
  user-select: none;
  /* transform-style: preserve-3d; */
}