<div id="devmenu">
  <div class="title-row fl-c">
    <h4>Dev Menu</h4>
  </div>
  <div class="node-tabs brdr-xs-t">
    <div @click="displayData('mindmap')" class="tab full-hw fl-c" :class="activeTab === 'mindmap' && 'active'">
      <h4>Map data</h4>
    </div>
    <div @click="displayData('actionmap')" class="tab full-hw fl-c" :class="activeTab === 'actionmap' && 'active'">
      <h4>Action data</h4>
    </div>
  </div>

  <div class="text-container full-hw brdr-xs-t p-s-all">
    <pre v-if="ui.activeMenu === 'dev-menu'">
      <h4>{{ parseMMData() }}</h4>
    </pre>
  </div>
  <div class="bottom-row brdr-xs-t fl-c">
    <h4 class="btm-txt">Nothing here for now</h4>
  </div>
</div>