<div id="devmenu" :class="altClass">
  <div class="title-row fl-c">
    <h4>Dev menu</h4>
  </div>
  <div class="node-tabs brdr-xs-t">
    <div class="tab full-hw fl-c active">
      <h4>Map data</h4>
    </div>
    <div class="tab full-hw fl-c">
      <h4>Action data</h4>
    </div>
  </div>

  <div class="text-container full-hw brdr-xs-t p-all-s">
    <pre><code><h4>{{ JSON.safeStringify(mmData) }}</h4></code></pre>
  </div>
  <div class="bottom-row brdr-xs-t fl-c">
    <h4>Nothing here for now</h4>
  </div>
</div>