<div id="contextmenu" class="ui-wrapper fd-col" :class="altClass" :style="mousePos">
  <div class="title-row fl-c">
    <h4>Node <span>{{ selected.node && selected.node.label }}</span></h4>
  </div>
  <div class="search-bar brdr-xs-t fl-c fd-col" v-if="selected.node">
    <h4 class="full-w txt-al-l m-s-t m-m-l">Label:</h4>
    <input type="text" v-model="selected.node.label"/>
  </div>
  <div class="row-list brdr-xs-t">
    <div class="button disabled full-w fl-c">
      <h4 class="full-w">Copy</h4>
    </div>
    <div class="button disabled full-w fl-c">
      <h4 class="full-w">Paste</h4>
    </div>
    <div @click.stop="handleDeleteNode" class="button full-w fl-c">
      <h4 class="full-w">Delete</h4>
    </div>
  </div>
</div>