<div class="step-node fl-c" @mousedown.left.default="handleGrab($event, $el)" :id="node.id">
  <div class="floating-container top fl-c">
    <img class="init-star" src="src/assets/vector/files/ui/star.svg" :data-nodeid="node.id" v-if="node.id === initialNodeId" alt="Node icon">
    <h4>{{ node.label }}</h4>
  </div>

  <img class="node-icon" :src="node.icon" :data-nodeid="node.id" alt="Node icon">
  <edit-frame @resize="handleStartResize" :node="node" :cz="$props.cz"></edit-frame>
</div>
