.step-node {
  --height: 5rem;
  --width: 5rem;

  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--width);
  /* background-color: red; */
  /* border-radius: 35%; */

  /* box-shadow:
     5px 15px 43px -15px rgba(44, 26, 26, 0.37),
     5px 15px 35px -25px rgba(41, 27, 51, 0.562); */

  /* transform: translate3d(var(--pos), 0); */
}

.node-icon {
  max-height: 100%;
  max-width: 100%;
}

.floating-container {
  position: absolute;
  width: clamp(5rem, 100%, 14rem);
}
.floating-container.top {
  bottom: calc(100% + .4rem);
}

.init-star {
  position: absolute;
  height: 1.4rem;
  width: 1.4rem;
  bottom: 100%;
}

.step-node h4 {
  font-weight: 400;
  text-align: center;
  width: 100%;
  color: rgb(10, 6, 6);

  pointer-events: none;
}

.step-node.transition-z {
  transition: transform .75s ease;
}