<div id="nodemenu" :class="altClass" :style="mousePos">
  <div class="title-row fl-c">
    <h4>Node Menu</h4>
  </div>
  <div class="node-tabs brdr-xs-t">
    <div class="tab full-hw fl-c active">
      <h4>All</h4>
    </div>
    <div class="tab full-hw fl-c">
      <h4>Custom</h4>
    </div>
  </div>
  <div class="search-bar brdr-xs-t fl-c p-xs-l">
    <img src="src/assets/vector/files/ui/search.svg" alt="ui icon"/>
    <input type="text" placeholder="Search" />
  </div>
  <div class="node-grid brdr-xs-t">
    <div class="node fl-c" v-for="(node, index) in presetNodes" :key="index">
      <div class="draggable-icon-wrapper" @mousedown="(ev)=>pickNode(ev, node)">
        <img class="draggable-icon" :src="node.icon" alt="node icon" draggable="false"/>
      </div>
      <h5>{{ node.label }}</h5>
    </div>
  </div>
  <div class="bottom-row brdr-xs-t fl-c">
    <h4>Nothing here for now</h4>
  </div>
</div>