#nodemenu {
  visibility: hidden;
  display: grid;
  position: fixed;
  top: 140px;
  left: 60px;
  grid-template-rows: [title-row] calc(var(--fr-size) / 2) [tab-row] var(--fr-size) [search-row] 36px [node-row] auto [bottom-row] calc(var(--fr-size) / 1.5);
  width: calc(var(--fr-size)*9);
  background-color: white;
  border-radius: 4px;

  box-shadow:
    6px 5px 10px -3px rgba(44, 26, 26, 0.219),
    -2px 4px 15px 0px rgba(41, 27, 51, 0.116);

  overflow: hidden;

  transform: scale(.9);
  opacity: 0;
}

#nodemenu.show {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.title-row {
  grid-row: title-row;
  color: white;
  background-color: rgb(39, 64, 85);
}

.title-row h4 {
  text-align: center;
  max-width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-row span {
  font-weight: 200;
  color: rgb(229, 248, 240)
}

.node-tabs {
  display: flex;
  grid-row: tab-row;
}

.tab:not(:last-child) {
  border-right: 1px solid rgb(255, 229, 244);
}

.tab:hover {
  background-color: rgb(246, 251, 252);
}

.tab.active {
  background-color: rgb(237, 244, 245);
}

.search-bar {
  grid-row: search-row;  
}

.search-bar img {
  height: 100%;
  padding: 6px;
  opacity: .6;
}

.search-bar input {
  font-size: 1rem;
  color: grey;
  height: 100%;
  width: 100%;
  padding: 8px 8px 4px 8px;
  border: none;
  outline: none;
}

.bottom-row {
  grid-row: bottom-row;
}

.node-grid {
  display: grid;
  position: relative;
  height: calc(var(--fr-size) * 8.5);
  padding: 0 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: calc(var(--fr-size) * 2.7);
  overflow: auto;
}

.node {
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
}

.draggable-icon-wrapper {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(var(--fr-size) * 2);
  width: calc(var(--fr-size) * 2);
}

.draggable-icon-wrapper img {
  height: 100%;
  width: 100%;
  transform: scale(.8)
}

.node .draggable-icon-wrapper {
  transition: transform .12s cubic-bezier(0.040, 0.365, 0.580, 1.280);
}

.node .draggable-icon-wrapper.dragging {
  transform: scale(0);
  transition-duration: 0s;
}

.draggable-icon-wrapper.clone {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  pointer-events: none;
}

.draggable-icon-wrapper.clone img {
  transition: transform .2s cubic-bezier(0.045, 0.430, 0.260, 1.050);
}

.draggable-icon-wrapper.clone.dragging img {
  transform: scale(1.34);
  /* transform: scale(1.15); */
  /* transform: scale(1); */
}