<div id="viewport">
  <div id="canvas" @click.passive="closeOpenWindows">
    <node-lines @conn-line="startDraw"></node-lines>
    <template v-for="(node, index) in nodes" :key="index">
      <step-node 
        :node="node"
        :cz="offset.canZ" 
        bg="blue"
        :hooks="nodeHooks"
        :initialNodeId="setInitialNode()"
        >
      </step-node>
    </template>
  </div>
  <interface></interface>
  <node-menu 
    :show="nodeMenu.show" 
    :x="nodeMenu.x" 
    :y="nodeMenu.y" 
    :addNode="addNode"
    :cz="offset.canZ"
    >
  </node-menu>
  <context-menu
    :show="contextMenu.show"
    :x="contextMenu.x" 
    :y="contextMenu.y" 
    :deleteNode="deleteNode"
    >    
  </context-menu>
</div>