.fl-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-h {
  height: 100% !important;  /* I dont like it */
}

.full-w {
  width: 100%;
}

.full-hw {
  height: 100%;
  width: 100%;
}

.brdr-xs-t {
  border-top: 1px solid rgb(255, 197, 231);
}

/* margins */
.m-s-r {
  margin-right: 7px;
}

/* paddings */
.p-all-s {
  padding: 10px;
}

/* canvas */
.cover-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}


/* transitions */
.tr-tr {
  transition: transform .3s ease;
}